[submodule "panda"]
	path = panda
	url = ../../mostafaayesh/panda.git
[submodule "opendbc"]
	path = opendbc
	url = ../../mostafaayesh/opendbc.git
[submodule "laika_repo"]
	path = laika_repo
	url = ../../mostafaayesh/laika.git
[submodule "cereal"]
	path = cereal
	url = ../../mostafaayesh/cereal.git
[submodule "rednose_repo"]
	path = rednose_repo
	url = ../../mostafaayesh/rednose.git
